<!-- Hellfire Footer Component -->
<!-- Usage: {% include hellfire-footer.html %} -->
<div id="bottom-links">
    <div class="bottom-links-container">
        <div class="bottom-links-column">
            <h3>General</h3>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/help">Help Center</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/press">Press</a></li>
            </ul>
        </div>
        <div class="bottom-links-column">
            <h3>Browse</h3>
            <ul>
                <li><a href="/members">Members</a></li>
                <li><a href="/jobs">Jobs</a></li>
                <li><a href="/companies">Companies</a></li>
                <li><a href="/articles">Articles</a></li>
            </ul>
        </div>
        <div class="bottom-links-column">
            <h3>Business Solutions</h3>
            <ul>
                <li><a href="/talent">Talent</a></li>
                <li><a href="/marketing">Marketing</a></li>
                <li><a href="/sales">Sales</a></li>
            </ul>
        </div>
        <div class="bottom-links-column">
            <h3>Policies</h3>
            <ul>
                <li><a href="/user-agreement">User Agreement</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/cookie">Cookie Policy</a></li>
                <li><a href="/copyright">Copyright Policy</a></li>
            </ul>
        </div>
    </div>
    <div id="footer-copyright">evil1.org © {{ "now" | date: "%Y" }}</div>
</div>
