{% assign authors = site.posts | map: 'author' | uniq | compact %}
{% if authors.size > 0 %}
<div class="author-spotlight-widget">
    <h3>👤 Author Spotlight</h3>
    <div class="author-spotlight-list">
        {% for author in authors limit: 3 %}
            {% assign author_articles = site.posts | where: 'author', author %}
            {% assign article_count = author_articles | size %}
            <div class="author-item">
                <div class="author-info">
                    <h4>{{ author | default: "Editorial Team" }}</h4>
                    <p class="author-stats">{{ article_count }} article{{ article_count | pluralize }}</p>
                </div>
                {% assign latest_article = author_articles | sort: 'date' | last %}
                {% if latest_article %}
                    <div class="latest-work">
                        <p><strong>Latest:</strong> <a href="{{ latest_article.url }}">{{ latest_article.title | truncate: 40 }}</a></p>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
