<div class="early-section">
  {% include _components/ui/section-header.html title="Corporate Propaganda Collection" %}
  <div class="early-section-content">
  <p>Welcome to the recursion. Below are 50 new products that satirize corporate culture while funding the journalism that exposes it. Prefer browsing by themes? Visit <a class="early-nav-link" href="/merchandise/themes/">Browse by Theme</a>.</p>

    <ol>
      {% for i in (1..50) %}
      <li><a class="early-nav-link" href="/merchandise/rec-{{ i | prepend: '0' | slice: -2 }}">Recursive Product {{ i }}</a></li>
      {% endfor %}
    </ol>
  </div>
</div>
