---
layout: default
title: evil1.org - Where Souls Are Sold
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link id="theme-css" rel="stylesheet" href="/assets/css/theme-hellish.css">
    <script src="/assets/js/theme-switcher.js"></script>
</head>
<body>
    {% include header.html %}
    <div class="flames"></div>
    {% include footer.html %}
    <div id="container">
        <div id="homepage-container">
            <!-- ...existing code from index_red.html... -->
        </div>
    </div>
</body>
</html>
