<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body>
    <div class="container">
        <h1>{{ page.title }}</h1>
        {{ content }}
        <div class="merch-grid">
                {% for key in site.data.merchandise %}
                    {% assign product = site.data.merchandise[key] %}
                    {% include merch-tile.html item=product %}
                {% endfor %}
        </div>
    </div>
    {% include footer.html %}
</body>
</html>
