---
layout: default
---

<div id="container" style="margin-top: 20px;">
    <div id="organization-header">
        <h1>{{ page.organization.name }}</h1>
        <div class="organization-description">{{ page.organization.description }}</div>
        <div class="organization-type">Type: {{ page.organization.type }}</div>
        {% assign words = content | strip_html | number_of_words %}
        {% assign reading_time = words | divided_by: 200 | plus: 1 %}
        <div class="organization-reading-time">{{ reading_time }} min read</div>
        {% if page.tags %}
            <div class="organization-tags">
                <h4>Tags:</h4>
                <div class="tags-list">
                    {% for tag in page.tags %}
                        <a href="/tags/#{{ tag | slugify }}" class="tag-link">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="organization-content">
        {{ content }}
    </div>

    {% if page.organization.name %}
        <div class="organization-meta">
            <h3>Organization Details</h3>
            <dl>
                <dt>Name:</dt>
                <dd>{{ page.organization.name }}</dd>
                <dt>Description:</dt>
                <dd>{{ page.organization.description }}</dd>
                <dt>Type:</dt>
                <dd>{{ page.organization.type }}</dd>
            </dl>
        </div>
    {% endif %}
</div>
