---
layout: default
---

<div id="container" style="margin-top: 20px;">
    <div id="organization-header">
        <h1>{{ page.organization.name }}</h1>
        <div class="organization-description">{{ page.organization.description }}</div>
        <div class="organization-type">Type: {{ page.organization.type }}</div>
    </div>

    <div class="organization-content">
        {{ content }}
    </div>

    {% if page.organization.name %}
        <div class="organization-meta">
            <h3>Organization Details</h3>
            <dl>
                <dt>Name:</dt>
                <dd>{{ page.organization.name }}</dd>
                <dt>Description:</dt>
                <dd>{{ page.organization.description }}</dd>
                <dt>Type:</dt>
                <dd>{{ page.organization.type }}</dd>
            </dl>
        </div>
    {% endif %}
</div>
