---
layout: default
---

{% if page.profile.image %}
    <meta property="og:image" content="{{ page.profile.image | absolute_url }}">
    <meta property="og:image:alt" content="{{ page.profile.name }}">
    <meta name="twitter:image" content="{{ page.profile.image | absolute_url }}">
    <meta name="twitter:image:alt" content="{{ page.profile.name }}">
{% endif %}

<meta property="og:type" content="profile">
<meta name="twitter:card" content="summary_large_image">

{% if page.profile.name %}
    <meta property="og:title" content="{{ page.profile.name }} - {{ site.title }}">
    <meta property="profile:first_name" content="{{ page.profile.name | split: ' ' | first }}">
    <meta property="profile:last_name" content="{{ page.profile.name | split: ' ' | last }}">
    <meta name="twitter:title" content="{{ page.profile.name }} - {{ site.title }}">
{% endif %}

{% if page.profile.description %}
    <meta property="og:description" content="{{ page.profile.description }}">
    <meta name="twitter:description" content="{{ page.profile.description }}">
{% endif %}

<div id="container" style="margin-top: 20px;">
    <div id="profile-header">
        <h1>{{ page.profile.name }}</h1>
        <div class="profile-type">Type: {{ page.profile.type }}</div>
        {% assign words = content | strip_html | number_of_words %}
        {% assign reading_time = words | divided_by: 200 | plus: 1 %}
        <div class="profile-reading-time">{{ reading_time }} min read</div>
        {% if page.tags %}
            <div class="profile-tags">
                <h4>Tags:</h4>
                <div class="tags-list">
                    {% for tag in page.tags %}
                        <a href="/tags/#{{ tag | slugify }}" class="tag-link">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="profile-content">
        {{ content }}
    </div>

    {% if page.profile.name %}
        <div class="profile-meta">
            <h3>Profile Information</h3>
            <dl>
                <dt>Name:</dt>
                <dd>{{ page.profile.name }}</dd>
                <dt>Type:</dt>
                <dd>{{ page.profile.type }}</dd>
            </dl>
        </div>
    {% endif %}
</div>
